.push_button--input--text {
    position: relative;
    width: 80%;
    margin: 40px 3%;
}
.push_button--input--text input[type=text] {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    margin: 8px 0;
    padding: 0.3em;
    transition: 0.3s;
    border: 1px solid #1b2538;
    border-radius: 4px;
    outline: none;
}
.push_button--input--text input[type=text]:focus {
    border-color: #da3c41;
}
.push_button--input--text input[type=text] {
    padding-left: 40px;
}
.push_button--input--text i {
    position: absolute;
    top: 8px;
    left: 0;
    padding: 9px 8px;
    transition: 0.3s;
    color: #aaaaaa;
}
.push_button--input--text input[type=text]:focus + i {
    color: #da3c41;
}

/* ボタン部分 */
.button {
  position: relative;
  margin: 20px 0;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  font-size: 2vw;
}
/* ボタン：選択時 */
.button:hover {
  background-color: #00FF00;
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
/* ボタン：選択時 */
.button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
/* ボタン：フォーカス時 */
.button:focus {
  outline: 5px groove rgba(255,255,255,0.3);
}
