@import url("../css/color.css");
@import url("../css/button.css");

* {
    margin : 0;
    padding: 0;
}
body {
    background-color:rgba(244,244,255,0.1);
}
.bg-img{
    left: 0;
    background-image:url(https://www.hdwallpapers.in/walls/morning_universe-normal.jpg);             /* 画像のURLを指定       */
    width:100%;
    /*height:400px;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}
h1 {
    padding-top: 2%;
}
h2 {

}
h2 {

}
p {
    padding: 2%;
}

.title  {
    color: #FFFFFF;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px rgba(255,255,255,0.3);/*上線*/
    border-bottom: solid 3px rgba(255,255,255,0.3);/*下線*/
}
.py20x40 {
  padding:20px 40px;
}

header {
    padding-left : 5%;
}
article {
}
article:hover {
}
aside {

}

main {
    background-color: black;
    background-image:url(https://www.1zoom.me/big2/13/239352-Sepik.jpg);
    width:100%;

    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}

section {
    background-color:rgba(255,255,255,0.5);
    padding-left : 5%;
}

section.main {
    padding-bottom: 30px;
}

.padding_left_5 {
  padding-left : 6%;
}

.aside-list {
    padding-left : 5%;
}

.button:before{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: #333;
    text-align: center;
    color: #fff;
}

.button:hover{
    background-color: #f00;
}

.float-left30 {
    float: left;
    width: 30%;
}
.float-center40 {
    float: left;
    width: 40%;
}
.float-right30 {
  float: right;
    width: 30%;
}

.float-left33 {
    float: left;
    width: 33%;
}
.float-center34 {
    float: left;
    width: 34%;
}
.float-right33 {
    float: right;
    width: 33%;
}

.clearline {
    clear: both;
}

header {
  background-color:rgba(0,0,0,0.8);
  color: white;
}

#header-nav {
    text-align: right;

    background-color:rgba(0,0,0,0.3);
    color: white;
}

#header-nav a {
  text-decoration: none;
}
/**
:link擬似クラス	未訪問リンクのスタイルを指定します。
:visited擬似クラス	訪問済みリンクのスタイルを指定します。
:hover擬似クラス	ユーザーの操作で要素にカーソルなどが乗った際のスタイルを指定します。 a:hoverでは“カーソルは乗っているがクリックはされていない状態”です。
:active擬似クラス	ユーザーの操作で要素がアクティブになった際のスタイルを指定します。 a:activeでは“クリックされてから離されるまでの状態”です。
 **/

#header-nav a:link {
 color:rgba(255,0,0,1.0);
}
#header-nav a:visited {
  color:rgba(0,0,255,1.0);
}
#header-nav a:hover {
  color:rgba(255,255,255,1.0);
  text-decoration:underline;
  font-size: 20px;
  font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";

}
#header-nav a:active {
  color:rgba(200,200,255,1.0);
}
#header-nav a:checked {
    background-color:rgba(150,0,0,1.0);
}

#header-nav a:enabled {
  background-color:rgba(255,0,0,1.0);
}

#header-nav a:invalid {
  background-color:rgba(0,100,0,1.0);
}

#header-nav a:link {
  background-color:rgba(0,150,0,1.0);
}

#header-nav li{
    display: inline-block;
    padding-right: 20px;
}

#side-nav {
    width: 30%;
    float: left;
    text-align: left;
    background-color:rgba(0,0,0,0.2);
}

#side-nav a {
  color: white;
  text-decoration: none;
}

#side-nav a:link {
 color:rgba(5,5,5,1.0);
}
#side-nav a:visited {
  color:rgba(0,0,255,1.0);
}
#side-nav a:hover {
  color:rgba(0,0,0,0.7);

  font-size: 20px;
  font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";

}
.side_header {
  background-color:rgba(0,0,0,0.2);
}
.side_hover:hover {
  background-color:rgba(0,0,0,0.2);
}
.display_none {
    display: none;
}
#side-nav a:active {
  color:rgba(200,200,255,1.0);
}
#side-nav li {
    display: block;
}
#side-nav li.display_none {
    display: none;
}
#sub-nav {
    text-align: left;

    background-color:rgba(0,0,0,1.0);
    color: white;
}
#sub-nav li{
    padding-left: 10px;
    display: inline-block;
}
#sub-nav li a {
  text-decoration: none;
  color:rgba(255,255,255,1.0);
}
#sub-nav li a:visited{
  text-decoration: underline;
  color:rgba(255,255,200,1.0);
}
#sub-nav li a:hover{
  text-decoration: underline;
  color:rgba(200,200,255,1.0);
}
#sub-nav li:first-child{
  margin-left: 40px;
}

main {
    width: 70%;
    float: right;
}
#news {
    clear: both;
}
footer {

}
#footer-nav {
    text-align: center;
}
#footer-nav li{
    display: inline-block;
}

#site-map {
  height:900px;
}

.site-map-nav {
    text-align: left;
}

.site-map-nav li{
    display: inline-block;
}

section.height_max {
  height:100%;
}
.imgflex {
    display: flex;
}

img.imgflex{
    width: calc(33.3% - 10px);
    margin: 5px;
}
.scrall {
    overflow: scroll;
}

.side_text {
    height:55px;
    vertical-align: middle;
}
.side_image {
    height:55px;
    display:inline;
    vertical-align: middle;
}

.side_title {
    height:55px;
    vertical-align: middle;
}

.p20px {
  padding: 20px;
}

/*
 アラート
 */
.fadeout{
  opacity: 0;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}
.fadein{
  opacity: 1;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

#noticePopupSection {
  position:absolute;
  visibility:hidden;
  background-color:rgba(0,0,0,0.8);
  text-align:center;
  font-size: 30px;
  width:100%;
  height: 200px;
}
#noticePopupMessage {
  width : 100%;
  height: 100%;
  color:white;
  text-align:center;
  margin: 0 auto;
  vertical-align:middle;
}
#alertTitle {
  background-color:rgba(255,200,0,0.8);
  text-align:center;
  padding:10px 0px;
  border-radius:5px 5px 0px 0px;
  font-size: 20px;
}
.list li {
  list-style: none;
  border-bottom:solid;
}
.list li:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.list li:last-child {
  border-bottom: none;
}

/*
 @media以外の所は全てのサイズで読み込まれます。
 */
p {
    background-color: rgba(0,0,0,0.0);
}
@media screen and (max-width:480px) {
    /*　画面サイズが480pxからはここを読み込む　*/

    section {
        padding-left  : 20px;
        padding-right : 20px;
    }
    .aside-list {
        padding-left  : 20px;
        padding-right : 20px;
    }

    #side-nav {
        /*        position:absolute;
         top:0px;
         right:0px;
         width: 30%;
         height : 55px;
         text-align: right;
         background-color: rgba(200,200,255,0.5);
         overflow: scroll;*/
        width :55px;
    }

    .side_text {
        width :55px;
        height:55px;
    }

    .side_image {
        height:55px;
        display:inline;
        vertical-align: middle;
    }
    .side_title {
        height:55px;
        vertical-align: middle;
        display:none;
    }

    main {
        width: calc(100% - 55px);
        float: right;
    }

}
@media screen and (min-width:480px) and ( max-width:768px) {
    /*　画面サイズが480pxからはここを読み込む　*/

    section {
        padding-left  : 20px;
        padding-right : 20px;
    }
    .aside-list {
        padding-left  : 20px;
        padding-right : 20px;
    }

    #side-nav {
        width  : 55px;
        /*        position:absolute;
         top:0px;
         right:0px;
         height : 55px;
         text-align: right;
         background-color: rgba(200,200,255,0.5);
         overflow: scroll;*/
    }

    .side_text {
        width :55px;
        height:55px;
    }

    .side_image {
        height:55px;
        display:inline;
        vertical-align: middle;
    }
    .side_title {
        height:55px;
        vertical-align: middle;
        display:none;
    }

    main {
        width: calc(100% - 55px);
        float: right;
    }
    #site-map {
      height:auto;
    }

    .float-left30 {
      float: none;
      width: calc(100% - 20px * 2);
      background-color: rgba(255,0,255,0.5);
    }
    .float-center40 {
      float: none;
      width: calc(100% - 20px * 2);
      background-color: rgba(0,255,0,0.5);
    }
    .float-right30 {
      float: none;
      width: calc(100% - 20px * 2);
      background-color: rgba(255,0,0,0.5);
    }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/

    section {
        padding-left  : 5%;
        padding-right : 5%;
    }

    .aside-list {
        padding-left  : 5%;
        padding-right : 5%;
    }

    #side-nav {
        width  : 30%;
        min-width  : 200px;
        /*        position:absolute;
         top:0px;
         right:0px;
         height : 55px;
         text-align: right;
         background-color: rgba(200,200,255,0.5);
         overflow: scroll;*/
    }

    main {
        width: calc(100% - 30%);
        float: right;
    }

    #site-map {
      height:auto;
    }

    .float-left30 {
      float: left;
      width: calc(30% - 5% * 2);
      background-color: rgba(255,0,255,0.5);
    }
    .float-center40 {
      float: left;
      width: calc(70% - 5% * 2);
      background-color: rgba(0,255,0,0.5);
    }
    .float-right30 {
      clear: both;
      width: calc(100% - 5% * 2);
      background-color: rgba(255,0,0,0.5);
    }
}
@media screen and (min-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    section {
        padding-left  : 5%;
        padding-right : 5%;
    }

    #side-nav {
        width  : 30%;
        min-width  : 200px;
        /*        position:absolute;
         top:0px;
         right:0px;
         height : 55px;
         text-align: right;
         background-color: rgba(200,200,255,0.5);
         overflow: scroll;*/
    }

    main {
        width: calc(100% - 30%);
        float: right;
    }

    #site-map {
      height:900px;
    }

    .float-left30 {
      float: left;
      width: calc(30% - 5% * 2);
      background-color: rgba(255,0,255,0.5);
    }
    .float-center40 {
      float: left;
      width: calc(40% - 5% * 2);
      background-color: rgba(0,255,0,0.5);
    }
    .float-right30 {
      float: right;
      width: calc(30% - 5% * 2);
      background-color: rgba(255,0,0,0.5);
    }
}
